version: "3.7"

services:
  dev_backend:
    build: ./backend
    working_dir: /backend
    container_name: dev_backend
    command: python3 dev-entry.py
    volumes:
      - ./backend/:/backend
    depends_on:
      - dev_unknown_mongo
    env_file:
      - .env

  dev_frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile.DevStand
    container_name: dev_frontend
    working_dir: /frontend
    command: node build
    env_file:
      - .env
    depends_on:
      - dev_backend
    environment:
      - PORT=3000

  dev_unknown_mongo:
    image: mongo
    container_name: dev_unknown_mongo
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - "./data:/data/db"

  mongo_seed:
    build: ./backend/mongo
    depends_on:
      - dev_unknown_mongo
    environment:
      - db_host=dev_unknown_mongo

  dev_client:
    image: nginx
    ports:
      - 2081:80
    volumes:
      - type: bind
        source: ./dev-proxy/dev-stand-nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    depends_on:
      - dev_frontend
      - dev_backend
